@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.AffiliateCompany)Model.Content;
}

@if (content.CompanyLogo != null)
{
    <div class="affiliate-company">
        <img src="@content.CompanyLogo.Url()" alt="@content.CompanyName" class="affiliate-logo" />
    </div>
}

