@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.SuccessStory)Model.Content;
}

@if (content.SuccessName != null)
{
    <div class="success-story-card">
        <p class="success-amount">@content.SuccessAmount</p>
        <div>@Html.Raw(content.SuccessDescription)</div>
    </div>
}
