@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.TeamMember)Model.Content;
}

<div class="team-member-card">
    @if (content.TeamMemberImg != null) 
    {
        <img src="@content.TeamMemberImg.Url()" />
    }
    <div class="team-card-text">
        <h5>@content.TeamMemberName</h5>
        <p class="member-role-text">@content.TeamMemberRole</p>
    </div>
    
</div>