@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
	Layout = null;

	var pageTitle = !string.IsNullOrEmpty(Model.Name) && Model.Name !="Home" ? $"Onatrix | {Model.Name}" : "Onatrix";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@pageTitle</title>

	<link href="~/css/style.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<partial name="Partials/Layout/_Topbar" />
	<partial name="Partials/Layout/_Header" />
	
	@RenderBody()

	<footer>
		<div class="container">
			<p> 
				© Onatrix. All Rights Reserved. Credits to 
				<a href="/">Themesflat</a>
			</p>
		</div>
	</footer>

</body>
</html>