@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --clr-main: #4F5955;
    --clr-sub-1: #F2EDDC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

footer {
    display: flex;
    flex-direction: column;
    color: #4F5955;
    background-color: #0E0E0E;
    font-size: 0.875rem;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

.container {
    /*background-color: lightcoral;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 70vw;
    padding: 1rem 0;
}

.information {
    background-color: var(--clr-main);
    color: white;
}

.information-wrapper {
    display: flex;
    width: 100%; 
    justify-content: space-between;
}

.information ul {
    list-style: none;
}

.social-media {
    display: flex;
    gap: 1rem;
}


/* Home Page CSS */
.hero {
    position: relative;
    display: flex;
    align-items: center;
    height: 552px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
}

.hero-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
    gap: 2rem;
    width: 40%;
    color: var(--clr-main);
}

.hero a {
    text-decoration: none;
    background-color: var(--clr-main);
    padding: 0.7rem;
    width: 11.3rem;
    color: var(--clr-sub-1);
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 4.375rem;
    letter-spacing: 0;
    color: var(--clr-main);
}