<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b41620f4-817f-4a54-84e3-b692afa2e8a6" Alias="Affiliate List" Level="1">
  <Info>
    <Name>Affiliate List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d2812d62-3c85-4288-b970-550e07400a32",
      "label": "{umbValue:companyName}"
    }
  ]
}]]></Config>
</DataType>