<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9035b957-00fd-46c3-970c-f7a4ed4e583f" Alias="Contact - Contact Name - Text Box Property Editor UI" Level="1">
  <Info>
    <Name>Contact - Contact Name - Text Box Property Editor UI</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>