<?xml version="1.0" encoding="utf-8"?>
<DataType Key="25a090ca-2d9a-47e9-940a-ce837ef171c3" Alias="Contact List" Level="1">
  <Info>
    <Name>Contact List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "65d73cb8-4637-4c4f-9458-0243c7c8cf05",
      "label": "{umbValue:contactName}"
    }
  ]
}]]></Config>
</DataType>