<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6e01f415-578b-464c-a7da-4503a5167772" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8582d2f5-aa8b-48d7-8561-5d9c78f4e563"
    },
    {
      "contentElementTypeKey": "55c259fc-d540-4eb2-9bf0-14ef9babc76f",
      "settingsElementTypeKey": "afe0e6d0-df4e-4b89-a4c6-6ba126632394"
    },
    {
      "contentElementTypeKey": "04256243-22b5-4c3b-bfa2-aea36057c3bd"
    },
    {
      "contentElementTypeKey": "f8b95031-ea73-4a1f-8fcf-69dc357c49eb"
    },
    {
      "contentElementTypeKey": "18eefc3a-2366-449a-8abe-4205addba3cf"
    },
    {
      "contentElementTypeKey": "35fb6ca0-3797-4354-a675-f3d7d2e98e84"
    },
    {
      "contentElementTypeKey": "b44a84ac-fda3-4fe2-bd9b-779fb383d1c6",
      "settingsElementTypeKey": "61d37e3e-0131-4d50-a862-b3f3132f8f70"
    },
    {
      "contentElementTypeKey": "6ce2a675-096f-4174-a0ea-05cf72012fbe"
    }
  ]
}]]></Config>
</DataType>