<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eb941f22-a4d1-49f0-8dbb-dccdf639e422" Alias="Platform list" Level="1">
  <Info>
    <Name>Platform list</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d83ae8da-d97d-40d8-a0c8-1f4a286a01f6",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>