<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9405c7bb-b49e-46ac-963e-808d327a1ac1" Alias="Service Detail Asides" Level="1">
  <Info>
    <Name>Service Detail Asides</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8c426071-a314-431a-8bb2-b9a4f596862d"
    }
  ]
}]]></Config>
</DataType>