<?xml version="1.0" encoding="utf-8"?>
<DataType Key="af20265d-a18a-45e6-8592-b565d2bb676b" Alias="Success Stories List" Level="1">
  <Info>
    <Name>Success Stories List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "be53dca6-f609-4d60-b5d1-777f643120cd",
      "label": "{umbValue:successName}"
    }
  ]
}]]></Config>
</DataType>