<?xml version="1.0" encoding="utf-8"?>
<DataType Key="28079a15-bfcf-4357-aa26-5da29426ad3e" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a0c73aaf-31e1-4ac8-b388-5b1f0b5b65ca",
      "label": "{umbValue:teamMemberName}"
    }
  ]
}]]></Config>
</DataType>