<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8144ac72-b6e4-4638-9ba2-4f65d4b95be0" Alias="Team Member - Member Name - Text Box Property Editor UI" Level="1">
  <Info>
    <Name>Team Member - Member Name - Text Box Property Editor UI</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>