<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3f0590d6-848c-47d6-892c-ef0ff373d65c" Alias="aboutUsPage" Level="2">
  <Info>
    <Name>About Page</Name>
    <Icon>icon-info</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b0a58cab-bdd3-46c2-b062-043d55e6e281">pageBanner</Composition>
    </Compositions>
    <DefaultTemplate>AboutUsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="58a44f54-17d4-4351-90ee-40e9ddc5a71b">AboutUsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a33eb612-440a-42f2-b1f8-39afb4dd9c98</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>6e01f415-578b-464c-a7da-4503a5167772</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>928decb3-9300-4d6a-9ffd-8415b62107d2</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>