<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3ceb0553-13ef-4980-bebf-d6065d1c9edc" Alias="contactUsPage" Level="2">
  <Info>
    <Name>Contact Page</Name>
    <Icon>icon-phone</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b0a58cab-bdd3-46c2-b062-043d55e6e281">pageBanner</Composition>
    </Compositions>
    <DefaultTemplate>ContactUsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fab2b024-f239-4b06-88cc-c621e31fcb22">ContactUsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>10ac6ebc-3d35-4de5-8e78-b1cbc705f039</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>6e01f415-578b-464c-a7da-4503a5167772</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1e05c647-529a-4a7e-988c-9fdab4e3676a</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>