<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dba85547-2121-44e8-aad9-e5d0b6538fd4" Alias="servicePage" Level="2">
  <Info>
    <Name>Service Page</Name>
    <Icon>icon-briefcase</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b0a58cab-bdd3-46c2-b062-043d55e6e281">pageBanner</Composition>
    </Compositions>
    <DefaultTemplate>ServicePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="89670d8b-ed53-4161-9a11-fbdc65cd85c0">ServicePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5ca73c92-668f-48db-9207-be973ca5c513" SortOrder="0">serviceDetail</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>8175a5a4-98f3-4f5d-9f96-e7ba7f9f835f</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>6e01f415-578b-464c-a7da-4503a5167772</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6599ef90-d55b-4ed2-86b2-3e24d1f9cacb</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>