<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8c08500-2ebb-429c-8436-24ecaf60ad72" Alias="Aaron-Lambert.svg" Level="2">
  <Info>
    <Parent Key="7d12effe-851e-4e52-a4b6-953617c3e679">Team Members</Parent>
    <Path>/TeamMembers/AaronLambertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T10:17:41</CreateDate>
    <NodeName Default="Aaron-Lambert.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4i2geova/aaron-lambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>