<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3eabbd2-3f7a-410f-943a-ebcae2288868" Alias="About Us" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-14T10:20:11</CreateDate>
    <NodeName Default="About Us" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>