<?xml version="1.0" encoding="utf-8"?>
<Media Key="796fdd17-d564-4dbf-a297-2aa9fe82073a" Alias="AJ-Carter.svg" Level="2">
  <Info>
    <Parent Key="7d12effe-851e-4e52-a4b6-953617c3e679">Team Members</Parent>
    <Path>/TeamMembers/AJCartersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T10:15:58</CreateDate>
    <NodeName Default="AJ-Carter.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2vqm1g15/aj-carter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>