<?xml version="1.0" encoding="utf-8"?>
<Media Key="d68cd6a2-a3c5-433e-bde5-3e6596940b4b" Alias="Assurance-Audits.svg" Level="2">
  <Info>
    <Parent Key="b4bb481e-8010-4e5a-bf69-98d82f7eb70b">Services</Parent>
    <Path>/Services/AssuranceAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T09:50:57</CreateDate>
    <NodeName Default="Assurance-Audits.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kbvd2ng4/assurance-audits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>