<?xml version="1.0" encoding="utf-8"?>
<Media Key="f09a3c53-b21d-46a0-a516-9a98ad77536b" Alias="Bonds-Commodities.svg" Level="2">
  <Info>
    <Parent Key="b4bb481e-8010-4e5a-bf69-98d82f7eb70b">Services</Parent>
    <Path>/Services/BondsCommoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T09:49:26</CreateDate>
    <NodeName Default="Bonds-Commodities.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ugadqeqg/bonds-commodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>