<?xml version="1.0" encoding="utf-8"?>
<Media Key="732df4d4-09c2-47a9-8faa-44b86605a897" Alias="Brandon-Kerr.svg" Level="2">
  <Info>
    <Parent Key="7d12effe-851e-4e52-a4b6-953617c3e679">Team Members</Parent>
    <Path>/TeamMembers/BrandonKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T10:17:41</CreateDate>
    <NodeName Default="Brandon-Kerr.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ezej5eoz/brandon-kerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>