<?xml version="1.0" encoding="utf-8"?>
<Media Key="08c24582-0d38-4c8f-bed0-337c1e57f470" Alias="Brandon-Newton.svg" Level="2">
  <Info>
    <Parent Key="7d12effe-851e-4e52-a4b6-953617c3e679">Team Members</Parent>
    <Path>/TeamMembers/BrandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T10:14:43</CreateDate>
    <NodeName Default="Brandon-Newton.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/od2gb0rd/brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>