<?xml version="1.0" encoding="utf-8"?>
<Media Key="7804aa81-5cda-4f81-9e47-3eff83c4aa62" Alias="Breadcrumb-Left.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BreadcrumbLeftsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T10:01:03</CreateDate>
    <NodeName Default="Breadcrumb-Left.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/omllngwb/breadcrumb-left.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>