<?xml version="1.0" encoding="utf-8"?>
<Media Key="92811dc4-50a9-4606-94a8-c45900b5324a" Alias="Breadcrumb-Right.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BreadcrumbRightsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T10:01:32</CreateDate>
    <NodeName Default="Breadcrumb-Right.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/g0qcg2fs/breadcrumb-right.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>