<?xml version="1.0" encoding="utf-8"?>
<Media Key="a774f0aa-5d1c-4cab-a1a8-dea935d5df73" Alias="Company-Location.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CompanyLocationsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T10:23:59</CreateDate>
    <NodeName Default="Company-Location.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lbgnmrih/company-location.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>