<?xml version="1.0" encoding="utf-8"?>
<Media Key="acc86c62-7448-466e-ab36-6705d3d33399" Alias="Contact" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-15T20:42:00</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>