<?xml version="1.0" encoding="utf-8"?>
<Media Key="27279601-2c3b-4a9d-8b54-a26722297c29" Alias="Dotted-Map.svg" Level="2">
  <Info>
    <Parent Key="52a4f378-cd53-4852-b793-d49deaeb1f28">Home Page</Parent>
    <Path>/HomePage/DottedMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T10:00:22</CreateDate>
    <NodeName Default="Dotted-Map.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4mvjlrja/dotted-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>