<?xml version="1.0" encoding="utf-8"?>
<Media Key="54a98d35-8523-4bd4-ad85-0ce12a437a77" Alias="Fossil-Groups.svg" Level="2">
  <Info>
    <Parent Key="98c51092-4788-42a1-a508-7d8ae9e5765b">Partnerships</Parent>
    <Path>/Partnerships/FossilGroupssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T10:27:15</CreateDate>
    <NodeName Default="Fossil-Groups.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y2yaxnry/fossil-groups.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>