<?xml version="1.0" encoding="utf-8"?>
<Media Key="34cd0bc7-fc90-4b79-8e86-c2193091bd18" Alias="Freedom-Bird.svg" Level="2">
  <Info>
    <Parent Key="98c51092-4788-42a1-a508-7d8ae9e5765b">Partnerships</Parent>
    <Path>/Partnerships/FreedomBirdsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T10:27:14</CreateDate>
    <NodeName Default="Freedom-Bird.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gw1g5vul/freedom-bird.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>