<?xml version="1.0" encoding="utf-8"?>
<Media Key="65f800f2-cad0-4f01-9004-6e38af39097f" Alias="Globe.svg" Level="2">
  <Info>
    <Parent Key="98c51092-4788-42a1-a508-7d8ae9e5765b">Partnerships</Parent>
    <Path>/Partnerships/Globesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T10:27:15</CreateDate>
    <NodeName Default="Globe.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ac4fvb4l/globe.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>