<?xml version="1.0" encoding="utf-8"?>
<Media Key="c10bcb65-bc1c-4f93-888e-586a8c799a80" Alias="Group-Discussion.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GroupDiscussionsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T10:30:05</CreateDate>
    <NodeName Default="Group-Discussion.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s31ksiyh/group-discussion.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>