<?xml version="1.0" encoding="utf-8"?>
<Media Key="8aebb38d-6192-4d13-8bc5-89cb3f1e955c" Alias="Happy-Kevin.svg" Level="2">
  <Info>
    <Parent Key="b3eabbd2-3f7a-410f-943a-ebcae2288868">About Us</Parent>
    <Path>/AboutUs/HappyKevinsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T09:59:27</CreateDate>
    <NodeName Default="Happy-Kevin.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/p2hes0ej/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>