<?xml version="1.0" encoding="utf-8"?>
<Media Key="c569c251-0cc9-439f-928d-54e4b95f444b" Alias="Home-Hero-Bg.svg" Level="2">
  <Info>
    <Parent Key="52a4f378-cd53-4852-b793-d49deaeb1f28">Home Page</Parent>
    <Path>/HomePage/HomeHeroBgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T21:17:05</CreateDate>
    <NodeName Default="Home-Hero-Bg.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/un5nwj4s/home-hero-bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>