<?xml version="1.0" encoding="utf-8"?>
<Media Key="56444970-f26f-4f3d-80a3-342a0da04524" Alias="Icon-Email.svg" Level="2">
  <Info>
    <Parent Key="acc86c62-7448-466e-ab36-6705d3d33399">Contact</Parent>
    <Path>/Contact/IconEmailsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T20:42:05</CreateDate>
    <NodeName Default="Icon-Email.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ql0onndu/icon-email.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>