<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7dac66c-3f8c-4f6a-863d-9ca8941db96d" Alias="Icon-Adress.svg" Level="2">
  <Info>
    <Parent Key="acc86c62-7448-466e-ab36-6705d3d33399">Contact</Parent>
    <Path>/Contact/IconAdresssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T20:42:05</CreateDate>
    <NodeName Default="Icon-Adress.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tz3hqrmx/icon-adress.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>