<?xml version="1.0" encoding="utf-8"?>
<Media Key="1dcd1dfb-2638-4a43-8c56-c0e428923f11" Alias="Icon-Phone.svg" Level="2">
  <Info>
    <Parent Key="acc86c62-7448-466e-ab36-6705d3d33399">Contact</Parent>
    <Path>/Contact/IconPhonesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T20:42:05</CreateDate>
    <NodeName Default="Icon-Phone.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bgqg55zd/icon-phone.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>