<?xml version="1.0" encoding="utf-8"?>
<Media Key="4681d72f-681a-4249-b3af-1ac08938d40d" Alias="Indentity.svg" Level="2">
  <Info>
    <Parent Key="98c51092-4788-42a1-a508-7d8ae9e5765b">Partnerships</Parent>
    <Path>/Partnerships/Indentitysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T10:27:15</CreateDate>
    <NodeName Default="Indentity.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1vvchjab/indentity.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>