<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7c3f6ae-41ff-4288-bd93-222f80e496fc" Alias="Kevin-Gardner.svg" Level="2">
  <Info>
    <Parent Key="7d12effe-851e-4e52-a4b6-953617c3e679">Team Members</Parent>
    <Path>/TeamMembers/KevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T10:17:41</CreateDate>
    <NodeName Default="Kevin-Gardner.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lrfhcnpe/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>