<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf359dc6-3f00-4801-bf27-f0ab68d50d4d" Alias="Miranda-Dayton.svg" Level="2">
  <Info>
    <Parent Key="7d12effe-851e-4e52-a4b6-953617c3e679">Team Members</Parent>
    <Path>/TeamMembers/MirandaDaytonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T10:17:41</CreateDate>
    <NodeName Default="Miranda-Dayton.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gqqjoli1/miranda-dayton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>