<?xml version="1.0" encoding="utf-8"?>
<Media Key="520242ae-62b8-45d8-a127-add209599853" Alias="Natural.svg" Level="2">
  <Info>
    <Parent Key="98c51092-4788-42a1-a508-7d8ae9e5765b">Partnerships</Parent>
    <Path>/Partnerships/Naturalsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T10:27:15</CreateDate>
    <NodeName Default="Natural.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lt5lbmfd/natural.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>