<?xml version="1.0" encoding="utf-8"?>
<Media Key="af502655-b8d0-4a80-9d82-9b68e972c5b3" Alias="Onatrix-logo-full.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnatrixLogoFullsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T08:40:44</CreateDate>
    <NodeName Default="Onatrix-logo-full.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u4npetol/onatrix-logo-full.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>