<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb2201a7-df7f-4481-ac4f-73119dc68220" Alias="Onatrix-Logo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnatrixLogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T10:24:33</CreateDate>
    <NodeName Default="Onatrix-Logo.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kw4iagle/onatrix-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>