<?xml version="1.0" encoding="utf-8"?>
<Media Key="98c51092-4788-42a1-a508-7d8ae9e5765b" Alias="Partnerships" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partnerships</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-14T10:27:08</CreateDate>
    <NodeName Default="Partnerships" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>