<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9e9eb52-aa83-4cf7-ad0d-9a7651291cdb" Alias="Reliable-Group.png" Level="2">
  <Info>
    <Parent Key="52a4f378-cd53-4852-b793-d49deaeb1f28">Home Page</Parent>
    <Path>/HomePage/ReliableGrouppng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-15T11:02:50</CreateDate>
    <NodeName Default="Reliable-Group.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [],
  "src": "/media/1uql4h5k/group-111.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>