<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ac60585-22f6-4466-882d-39a53d042a55" Alias="Reliable-Guy.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ReliableGuysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T10:13:04</CreateDate>
    <NodeName Default="Reliable-Guy.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/o42gj4hn/reliable-guy.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>