<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e7ee69f-906d-4e6e-ab3e-fb5792b6f769" Alias="Risk-Management.svg" Level="2">
  <Info>
    <Parent Key="b4bb481e-8010-4e5a-bf69-98d82f7eb70b">Services</Parent>
    <Path>/Services/RiskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T09:49:00</CreateDate>
    <NodeName Default="Risk-Management.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nvnnzpdw/risk-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>