<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4bb481e-8010-4e5a-bf69-98d82f7eb70b" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-14T10:04:43</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>