<?xml version="1.0" encoding="utf-8"?>
<Media Key="089abc30-0107-4ceb-a953-9ad94fefe04b" Alias="Simpleaf.svg" Level="2">
  <Info>
    <Parent Key="98c51092-4788-42a1-a508-7d8ae9e5765b">Partnerships</Parent>
    <Path>/Partnerships/Simpleafsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T10:27:15</CreateDate>
    <NodeName Default="Simpleaf.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yiadr0q2/simpleaf.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>