<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab33f198-4721-4633-9ea4-8c0559738308" Alias="Tax-Returns.svg" Level="2">
  <Info>
    <Parent Key="b4bb481e-8010-4e5a-bf69-98d82f7eb70b">Services</Parent>
    <Path>/Services/TaxReturnssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T09:50:57</CreateDate>
    <NodeName Default="Tax-Returns.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/njgjcsj0/tax-returns.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>