<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ae4567e-17cb-4726-88a2-8a2a9e4d7790" Alias="Tina-Fox-Signature.svg" Level="2">
  <Info>
    <Parent Key="52a4f378-cd53-4852-b793-d49deaeb1f28">Home Page</Parent>
    <Path>/HomePage/TinaFoxSignaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T09:47:57</CreateDate>
    <NodeName Default="Tina-Fox-Signature.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rtvfm0gq/tina-fox-signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>