<?xml version="1.0" encoding="utf-8"?>
<Media Key="5dc78f20-56cc-4c4b-863f-4291d5ff2d3d" Alias="Tina-Fox.svg" Level="2">
  <Info>
    <Parent Key="b3eabbd2-3f7a-410f-943a-ebcae2288868">About Us</Parent>
    <Path>/AboutUs/TinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T10:21:02</CreateDate>
    <NodeName Default="Tina-Fox.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0izglp4x/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>