<?xml version="1.0" encoding="utf-8"?>
<Media Key="1443f21c-e1d3-4972-9ce9-4d7af4a03256" Alias="Tina-Fox.svg" Level="2">
  <Info>
    <Parent Key="7d12effe-851e-4e52-a4b6-953617c3e679">Team Members</Parent>
    <Path>/TeamMembers/TinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T10:17:41</CreateDate>
    <NodeName Default="Tina-Fox.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3zhpd3wi/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>