<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a39a23a-27e1-4f0a-a6d4-3fd50321f3b0" Alias="Widget-img.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WidgetImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T19:29:14</CreateDate>
    <NodeName Default="Widget-img.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zapjw4h0/widget-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>