<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc69f591-134c-425a-bfc0-a90d3050b668" Alias="About" Level="2">
  <Info>
    <Parent Key="8d75ec8f-25b6-4aa3-90b8-a446a7e52dcc">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutUsPage</ContentType>
    <CreateDate>2025-11-15T09:49:46</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="58a44f54-17d4-4351-90ee-40e9ddc5a71b">AboutUsPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6ce2a675-096f-4174-a0ea-05cf72012fbe",
      "key": "2fcef20c-a4e0-4066-bd6e-693c2f358df6",
      "udi": null,
      "values": [
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EA team of professionals\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ewith years of experience\u003C/span\u003E\u003C/h3\u003E\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OUR EXPERTS"
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "a0c73aaf-31e1-4ac8-b388-5b1f0b5b65ca",
                "key": "8ec8f7f7-ecbc-452c-9d15-6c196e4013ef",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Newton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImg",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "3033a53d-126f-425f-89ab-b45bcb5d8f6a",
                        "mediaKey": "08c24582-0d38-4c8f-bed0-337c1e57f470",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "a0c73aaf-31e1-4ac8-b388-5b1f0b5b65ca",
                "key": "2e7506a9-6750-4d34-90cc-82592f82c83d",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AJ Carter"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImg",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "80c6cab7-c4a3-456f-a4f6-29aecfde786b",
                        "mediaKey": "796fdd17-d564-4dbf-a297-2aa9fe82073a",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "a0c73aaf-31e1-4ac8-b388-5b1f0b5b65ca",
                "key": "43f795e1-5c99-4531-81e0-69199f0cb5dd",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aaron Lambert"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Specialist at Onatrix"
                  },
                  {
                    "alias": "teamMemberImg",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "295c0b7f-8c54-41ca-b283-934eb4c10a93",
                        "mediaKey": "d8c08500-2ebb-429c-8436-24ecaf60ad72",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "a0c73aaf-31e1-4ac8-b388-5b1f0b5b65ca",
                "key": "3cb69fe4-97ad-415b-93f7-ee8748a85352",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tina Fox"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CEO \u0026 Founder at Onatrix"
                  },
                  {
                    "alias": "teamMemberImg",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0de48e4b-118e-4a09-bff4-5b2e8bfe46cc",
                        "mediaKey": "1443f21c-e1d3-4972-9ce9-4d7af4a03256",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "a0c73aaf-31e1-4ac8-b388-5b1f0b5b65ca",
                "key": "55a6557c-ab0a-49cc-9f57-1f79f2b39902",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Kerr"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": " CFO \u0026 Co-Founderat Onatrix"
                  },
                  {
                    "alias": "teamMemberImg",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "57071c1e-a107-4367-8330-ceca1976c926",
                        "mediaKey": "732df4d4-09c2-47a9-8faa-44b86605a897",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "a0c73aaf-31e1-4ac8-b388-5b1f0b5b65ca",
                "key": "e790a398-6879-4466-a602-1f7f0afdc6f0",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Miranda Dayton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Head of HR at Onatrix"
                  },
                  {
                    "alias": "teamMemberImg",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "d4e49ef7-93f9-476a-aa23-e0b087896448",
                        "mediaKey": "cf359dc6-3f00-4801-bf27-f0ab68d50d4d",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "a0c73aaf-31e1-4ac8-b388-5b1f0b5b65ca",
                "key": "d4a5d08e-cae2-4dd9-a8d8-e79b173eee8d",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kevin Gardner"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Banking Advisor at Swedbank"
                  },
                  {
                    "alias": "teamMemberImg",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0f430461-186c-49ac-891f-817b1981b04a",
                        "mediaKey": "d7c3f6ae-41ff-4288-bd93-222f80e496fc",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "8ec8f7f7-ecbc-452c-9d15-6c196e4013ef",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2e7506a9-6750-4d34-90cc-82592f82c83d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "43f795e1-5c99-4531-81e0-69199f0cb5dd",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "3cb69fe4-97ad-415b-93f7-ee8748a85352",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "55a6557c-ab0a-49cc-9f57-1f79f2b39902",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e790a398-6879-4466-a602-1f7f0afdc6f0",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d4a5d08e-cae2-4dd9-a8d8-e79b173eee8d",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "8ec8f7f7-ecbc-452c-9d15-6c196e4013ef",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "2e7506a9-6750-4d34-90cc-82592f82c83d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "43f795e1-5c99-4531-81e0-69199f0cb5dd",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "3cb69fe4-97ad-415b-93f7-ee8748a85352",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "55a6557c-ab0a-49cc-9f57-1f79f2b39902",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e790a398-6879-4466-a602-1f7f0afdc6f0",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d4a5d08e-cae2-4dd9-a8d8-e79b173eee8d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "b44a84ac-fda3-4fe2-bd9b-779fb383d1c6",
      "key": "88ae6314-65fc-4268-8902-d0443cfb3fd2",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELet us know about your next project\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0615fc83-de2b-4332-96fc-125aaa8704ee",
              "mediaKey": "1ac60585-22f6-4466-882d-39a53d042a55",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "65d73cb8-4637-4c4f-9458-0243c7c8cf05",
                "key": "78cc539c-1b56-45b0-a05b-8898df7505e1",
                "udi": null,
                "values": [
                  {
                    "alias": "contactType",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Office location"
                  },
                  {
                    "alias": "contactDetail",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Klarabergsviadukten 90, 111 52 Stockholm"
                  },
                  {
                    "alias": "contactName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Adress"
                  },
                  {
                    "alias": "contactIcon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e828b2fd-fba8-4683-ac38-800e3a608c50",
                        "mediaKey": "a7dac66c-3f8c-4f6a-863d-9ca8941db96d",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "65d73cb8-4637-4c4f-9458-0243c7c8cf05",
                "key": "eee7c424-970e-42ef-b86c-15f242681f46",
                "udi": null,
                "values": [
                  {
                    "alias": "contactType",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Phone number"
                  },
                  {
                    "alias": "contactDetail",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "\u002B46 8 123 456 75"
                  },
                  {
                    "alias": "contactIcon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "98b6d52e-6065-48cb-9035-b39744dc5265",
                        "mediaKey": "1dcd1dfb-2638-4a43-8c56-c0e428923f11",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "contactName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Phone number"
                  }
                ]
              },
              {
                "contentTypeKey": "65d73cb8-4637-4c4f-9458-0243c7c8cf05",
                "key": "a7956b32-1d0f-4721-a406-bf5c88189f8c",
                "udi": null,
                "values": [
                  {
                    "alias": "contactType",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "E-mail address"
                  },
                  {
                    "alias": "contactDetail",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "sales@onatrix.com"
                  },
                  {
                    "alias": "contactIcon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "069673d8-c376-4782-b9f1-b50f70b8b67c",
                        "mediaKey": "56444970-f26f-4f3d-80a3-342a0da04524",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "contactName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Email"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "78cc539c-1b56-45b0-a05b-8898df7505e1",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "eee7c424-970e-42ef-b86c-15f242681f46",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a7956b32-1d0f-4721-a406-bf5c88189f8c",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "78cc539c-1b56-45b0-a05b-8898df7505e1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "eee7c424-970e-42ef-b86c-15f242681f46",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a7956b32-1d0f-4721-a406-bf5c88189f8c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "61d37e3e-0131-4d50-a862-b3f3132f8f70",
      "key": "0cddbfcd-6fe6-42cb-a023-cb426d92fda7",
      "udi": null,
      "values": [
        {
          "alias": "contactBgSetting",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "2fcef20c-a4e0-4066-bd6e-693c2f358df6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "88ae6314-65fc-4268-8902-d0443cfb3fd2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "2fcef20c-a4e0-4066-bd6e-693c2f358df6",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "88ae6314-65fc-4268-8902-d0443cfb3fd2",
        "contentUdi": null,
        "settingsKey": "0cddbfcd-6fe6-42cb-a023-cb426d92fda7",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>