<?xml version="1.0" encoding="utf-8"?>
<Content Key="be2bae6b-ec28-458f-9851-d66f57cfda24" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="2bbe3808-f945-4899-b43a-71efe04fa23e">Services</Parent>
    <Path>/Home/Services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-16T17:38:34</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="416d1579-3d84-4ab3-a14e-2b36349293ca">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailContent>
      <Value><![CDATA[]]></Value>
    </serviceDetailContent>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "1e8d1553-4322-4ea5-af46-ac9891b26cb9",
    "mediaKey": "d68cd6a2-a3c5-433e-bde5-3e6596940b4b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>