<?xml version="1.0" encoding="utf-8"?>
<Content Key="0983efa4-be42-4924-98ff-b2d7b58a820f" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="2bbe3808-f945-4899-b43a-71efe04fa23e">Services</Parent>
    <Path>/Home/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-16T17:39:04</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="416d1579-3d84-4ab3-a14e-2b36349293ca">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailContent>
      <Value><![CDATA[]]></Value>
    </serviceDetailContent>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "d494677a-faf3-497f-9530-cc3811abb535",
    "mediaKey": "f09a3c53-b21d-46a0-a516-9a98ad77536b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>