<?xml version="1.0" encoding="utf-8"?>
<Content Key="4501b8d9-9ee8-484a-b15c-f408172204cc" Alias="Contact Us" Level="2">
  <Info>
    <Parent Key="8d75ec8f-25b6-4aa3-90b8-a446a7e52dcc">Home</Parent>
    <Path>/Home/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsPage</ContentType>
    <CreateDate>2025-11-16T15:34:58</CreateDate>
    <NodeName Default="Contact Us" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fab2b024-f239-4b06-88cc-c621e31fcb22">ContactUsPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b44a84ac-fda3-4fe2-bd9b-779fb383d1c6",
      "key": "73a32e6b-9eec-4286-9ebd-8703d8dd668a",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELet us know about your next project\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "859a9686-fa01-45ce-bfb7-6436276ff0c6",
              "mediaKey": "1ac60585-22f6-4466-882d-39a53d042a55",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "65d73cb8-4637-4c4f-9458-0243c7c8cf05",
                "key": "84fe53f0-8c3c-4eeb-8737-91de248c7c4b",
                "udi": null,
                "values": [
                  {
                    "alias": "contactType",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Office location"
                  },
                  {
                    "alias": "contactDetail",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Klarabergsviadukten 90, 111 52 Stockholm"
                  },
                  {
                    "alias": "contactIcon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e97b88b8-0913-4322-8a1c-9ec60a363849",
                        "mediaKey": "a7dac66c-3f8c-4f6a-863d-9ca8941db96d",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "contactName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Address"
                  }
                ]
              },
              {
                "contentTypeKey": "65d73cb8-4637-4c4f-9458-0243c7c8cf05",
                "key": "ccadbb7f-7958-4288-b1ef-d51109876ee8",
                "udi": null,
                "values": [
                  {
                    "alias": "contactType",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Phone number"
                  },
                  {
                    "alias": "contactDetail",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "\u002B46 8 123 456 75"
                  },
                  {
                    "alias": "contactIcon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f51cdff9-5f3e-4f4f-867c-afb73049311f",
                        "mediaKey": "1dcd1dfb-2638-4a43-8c56-c0e428923f11",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "contactName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Phone"
                  }
                ]
              },
              {
                "contentTypeKey": "65d73cb8-4637-4c4f-9458-0243c7c8cf05",
                "key": "c05fe4d7-0639-4a54-9774-1832781539d9",
                "udi": null,
                "values": [
                  {
                    "alias": "contactType",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "E-mail address"
                  },
                  {
                    "alias": "contactDetail",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "sales@onatrix.com"
                  },
                  {
                    "alias": "contactIcon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "98b0348d-e2cb-4682-aa17-d18425ecae87",
                        "mediaKey": "56444970-f26f-4f3d-80a3-342a0da04524",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "contactName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Email"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "84fe53f0-8c3c-4eeb-8737-91de248c7c4b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ccadbb7f-7958-4288-b1ef-d51109876ee8",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c05fe4d7-0639-4a54-9774-1832781539d9",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "84fe53f0-8c3c-4eeb-8737-91de248c7c4b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ccadbb7f-7958-4288-b1ef-d51109876ee8",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c05fe4d7-0639-4a54-9774-1832781539d9",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "61d37e3e-0131-4d50-a862-b3f3132f8f70",
      "key": "7e448914-8e8a-423a-99e2-7771f9d94c87",
      "udi": null,
      "values": [
        {
          "alias": "contactBgSetting",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "73a32e6b-9eec-4286-9ebd-8703d8dd668a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "73a32e6b-9eec-4286-9ebd-8703d8dd668a",
        "contentUdi": null,
        "settingsKey": "7e448914-8e8a-423a-99e2-7771f9d94c87",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>