<?xml version="1.0" encoding="utf-8"?>
<Content Key="08b29932-b2f4-4e8d-95db-d033fea4ca7c" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="2bbe3808-f945-4899-b43a-71efe04fa23e">Services</Parent>
    <Path>/Home/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-16T17:37:16</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="416d1579-3d84-4ab3-a14e-2b36349293ca">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailContent>
      <Value><![CDATA[]]></Value>
    </serviceDetailContent>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "4896f0fe-1297-4301-9461-d444e3d54823",
    "mediaKey": "88673c5b-344f-471e-aff0-b5960b38561a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>