<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d75ec8f-25b6-4aa3-90b8-a446a7e52dcc" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-11-13T21:26:00</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b6ef498c-0fc6-4f89-907b-3aae3ce43d58">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8582d2f5-aa8b-48d7-8561-5d9c78f4e563",
      "key": "a6333d86-a206-4b94-a939-2a97597af6eb",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact Us",
              "target": null,
              "udi": "umb://document/4501b8d99ee8484ab15cf408172204cc",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "heroBgImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6f488447-6de7-415e-80c3-94edd65e6933",
              "mediaKey": "c569c251-0cc9-439f-928d-54e4b95f444b",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "55c259fc-d540-4eb2-9bf0-14ef9babc76f",
      "key": "43c0e97a-dc15-45b4-b0c2-b834dae25efd",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OUR SERVICES"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "04256243-22b5-4c3b-bfa2-aea36057c3bd",
      "key": "e3d7d8ed-3059-4823-9fd7-38f88a905daa",
      "udi": null,
      "values": [
        {
          "alias": "affiliationList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "d2812d62-3c85-4288-b970-550e07400a32",
                "key": "14d29d57-994a-43a8-be09-361d976dc3cb",
                "udi": null,
                "values": [
                  {
                    "alias": "companyLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "31a05e0e-2022-4951-afca-57fa271482ab",
                        "mediaKey": "34cd0bc7-fc90-4b79-8e86-c2193091bd18",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "companyName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Freedom Bird"
                  }
                ]
              },
              {
                "contentTypeKey": "d2812d62-3c85-4288-b970-550e07400a32",
                "key": "2704158f-ec25-4966-98a1-c268a7125f3d",
                "udi": null,
                "values": [
                  {
                    "alias": "companyLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f023dde8-6ac8-473c-b981-6bbf1c9cd152",
                        "mediaKey": "4681d72f-681a-4249-b3af-1ac08938d40d",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "companyName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Identity"
                  }
                ]
              },
              {
                "contentTypeKey": "d2812d62-3c85-4288-b970-550e07400a32",
                "key": "429e7080-273a-4bf4-9781-3d5e10a72918",
                "udi": null,
                "values": [
                  {
                    "alias": "companyLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "17c2a2e1-0de9-42c3-94cb-7b7d43497810",
                        "mediaKey": "520242ae-62b8-45d8-a127-add209599853",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "companyName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Natural"
                  }
                ]
              },
              {
                "contentTypeKey": "d2812d62-3c85-4288-b970-550e07400a32",
                "key": "771404a9-9f7f-4111-82af-238f527d198e",
                "udi": null,
                "values": [
                  {
                    "alias": "companyLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "7763b085-5ece-4d1e-968a-379e67c5ffdd",
                        "mediaKey": "089abc30-0107-4ceb-a953-9ad94fefe04b",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "companyName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Simpleaf"
                  }
                ]
              },
              {
                "contentTypeKey": "d2812d62-3c85-4288-b970-550e07400a32",
                "key": "7090c88e-4004-44f3-9f88-7b4d7a2ca51f",
                "udi": null,
                "values": [
                  {
                    "alias": "companyLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "4a0beb93-e7d2-4995-bf0f-a58d09f648dd",
                        "mediaKey": "65f800f2-cad0-4f01-9004-6e38af39097f",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "companyName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Globe"
                  }
                ]
              },
              {
                "contentTypeKey": "d2812d62-3c85-4288-b970-550e07400a32",
                "key": "ea8a2da4-a0f1-4cfb-b95d-a3c27080b462",
                "udi": null,
                "values": [
                  {
                    "alias": "companyLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "95b27e10-7a4c-40d0-b51c-a9962aeef068",
                        "mediaKey": "54a98d35-8523-4bd4-ad85-0ce12a437a77",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "companyName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Fossil Groups"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "14d29d57-994a-43a8-be09-361d976dc3cb",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2704158f-ec25-4966-98a1-c268a7125f3d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "429e7080-273a-4bf4-9781-3d5e10a72918",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "771404a9-9f7f-4111-82af-238f527d198e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7090c88e-4004-44f3-9f88-7b4d7a2ca51f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ea8a2da4-a0f1-4cfb-b95d-a3c27080b462",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "14d29d57-994a-43a8-be09-361d976dc3cb",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "2704158f-ec25-4966-98a1-c268a7125f3d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "429e7080-273a-4bf4-9781-3d5e10a72918",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "771404a9-9f7f-4111-82af-238f527d198e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7090c88e-4004-44f3-9f88-7b4d7a2ca51f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ea8a2da4-a0f1-4cfb-b95d-a3c27080b462",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "f8b95031-ea73-4a1f-8fcf-69dc357c49eb",
      "key": "6c6232a8-99dd-47d7-8394-b0aa13503179",
      "udi": null,
      "values": [
        {
          "alias": "storyTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe are trusted by more than\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003E4.000\u002B\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "storyText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "storyLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "About",
              "target": null,
              "udi": "umb://document/dc69f591134c425abfc0a90d3050b668",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "storyBgImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "9d767625-6586-4bfc-8803-b89d07b5d0b8",
              "mediaKey": "a9e9eb52-aa83-4cf7-ad0d-9a7651291cdb",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "18eefc3a-2366-449a-8abe-4205addba3cf",
      "key": "e6c0a8bb-b7f9-43cd-86af-79549bbf421a",
      "udi": null,
      "values": [
        {
          "alias": "successLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SUCCESS STORIES"
        },
        {
          "alias": "successTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ESuccess story\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "successList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "be53dca6-f609-4d60-b5d1-777f643120cd",
                "key": "7d917c0e-a4f9-42cf-87e5-923b1d402a6d",
                "udi": null,
                "values": [
                  {
                    "alias": "successAmount",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "689"
                  },
                  {
                    "alias": "successDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EMore than 100 customers has been served\u003C/span\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "successName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Customers Served"
                  }
                ]
              },
              {
                "contentTypeKey": "be53dca6-f609-4d60-b5d1-777f643120cd",
                "key": "07c9d587-5664-4586-93b2-0f952bf86aa1",
                "udi": null,
                "values": [
                  {
                    "alias": "successAmount",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "370"
                  },
                  {
                    "alias": "successDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EMore than 370 projects has been completed\u003C/span\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "successName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Projects Completed"
                  }
                ]
              },
              {
                "contentTypeKey": "be53dca6-f609-4d60-b5d1-777f643120cd",
                "key": "73ace4d1-1dc9-4599-9d38-5df93ec43c72",
                "udi": null,
                "values": [
                  {
                    "alias": "successAmount",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "125"
                  },
                  {
                    "alias": "successDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EMore than 125 branches has been established in Europe and America\u003C/span\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "successName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Company Branches"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "7d917c0e-a4f9-42cf-87e5-923b1d402a6d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "07c9d587-5664-4586-93b2-0f952bf86aa1",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "73ace4d1-1dc9-4599-9d38-5df93ec43c72",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "7d917c0e-a4f9-42cf-87e5-923b1d402a6d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "07c9d587-5664-4586-93b2-0f952bf86aa1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "73ace4d1-1dc9-4599-9d38-5df93ec43c72",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "35fb6ca0-3797-4354-a675-f3d7d2e98e84",
      "key": "258db323-ffbb-4ff4-9cc8-9cd4ea7cd101",
      "udi": null,
      "values": [
        {
          "alias": "aboutLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ABOUT US"
        },
        {
          "alias": "aboutHeader",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe have 40 years experience\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "aboutText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cem\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003E\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D\u003C/span\u003E\u003C/em\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "aboutImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "28c0593f-ce03-4476-82e9-06d571639000",
              "mediaKey": "8ae4567e-17cb-4726-88a2-8a2a9e4d7790",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "imgCaption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022font-size: 14px; white-space: pre-wrap;\u0022\u003ETina Fox - CEO \u0026amp; Founder\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "afe0e6d0-df4e-4b89-a4c6-6ba126632394",
      "key": "224b93e4-a18e-46dc-a40a-c62786b4fdf3",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "a6333d86-a206-4b94-a939-2a97597af6eb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "43c0e97a-dc15-45b4-b0c2-b834dae25efd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e3d7d8ed-3059-4823-9fd7-38f88a905daa",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6c6232a8-99dd-47d7-8394-b0aa13503179",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e6c0a8bb-b7f9-43cd-86af-79549bbf421a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "258db323-ffbb-4ff4-9cc8-9cd4ea7cd101",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a6333d86-a206-4b94-a939-2a97597af6eb",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "258db323-ffbb-4ff4-9cc8-9cd4ea7cd101",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "43c0e97a-dc15-45b4-b0c2-b834dae25efd",
        "contentUdi": null,
        "settingsKey": "224b93e4-a18e-46dc-a40a-c62786b4fdf3",
        "settingsUdi": null
      },
      {
        "contentKey": "6c6232a8-99dd-47d7-8394-b0aa13503179",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e6c0a8bb-b7f9-43cd-86af-79549bbf421a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e3d7d8ed-3059-4823-9fd7-38f88a905daa",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>