<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5ff9c4d-c60b-4551-8e0c-e86804313ee0" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="2bbe3808-f945-4899-b43a-71efe04fa23e">Services</Parent>
    <Path>/Home/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-16T17:36:47</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="416d1579-3d84-4ab3-a14e-2b36349293ca">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8c426071-a314-431a-8bb2-b9a4f596862d",
      "key": "2901f37e-54b4-46dc-9b94-7ef369b87d18",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "infoImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "51b705d9-2959-425d-96e6-5a5754ee08a9",
              "mediaKey": "9a39a23a-27e1-4f0a-a6d4-3fd50321f3b0",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "2901f37e-54b4-46dc-9b94-7ef369b87d18",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "2901f37e-54b4-46dc-9b94-7ef369b87d18",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailContent>
      <Value><![CDATA[]]></Value>
    </serviceDetailContent>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "1be4cfbb-6590-4f4e-80fe-9adee74dae40",
    "mediaKey": "33d1462c-f9f4-45b8-bac1-35136fc5a9b3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>