<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d1875b9-29f4-409a-b6a9-9c040e62b279" Alias="Tax &amp; Trusts" Level="3">
  <Info>
    <Parent Key="2bbe3808-f945-4899-b43a-71efe04fa23e">Services</Parent>
    <Path>/Home/Services/TaxTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-16T17:37:49</CreateDate>
    <NodeName Default="Tax &amp; Trusts" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="416d1579-3d84-4ab3-a14e-2b36349293ca">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailContent>
      <Value><![CDATA[]]></Value>
    </serviceDetailContent>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "15f6fd95-248a-4ccb-90c7-f66dd226d1c0",
    "mediaKey": "ab33f198-4721-4633-9ea4-8c0559738308",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>